<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        Travel Planner
    </header>

    <main>
        <section>
            <div class="image"></div>
        </section>

        <section>
            <div class="info">
                <div class="dest">Trip to: <span>Gaza, Palestine</span></div>
                <div class="dep">Departing: <span>7/10/2023</span></div>
            </div>
            <div class="buttons">
                <button class="save">Save Trip</button>
                <button class="remove">Remove Trip</button>
            </div>
                <div class="rem-time">Nablus, Palestine is 10 days aways</div>
                <div class="info">
                <div>Typical weather for then is</div>
                <div class="weather">
                    <div class="temp"><span>max: 33</span><span>min: 22</span></div>
                    <div class="desc">Mostly cloudy, some rain</div>
                </div>
            </div>
        </section>
    </main>


    <!-- <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script> -->
</body>

</html>