body {
    min-height: 100vh;
    background-color: rgb(12, 12, 87);
    color: white;
}

@mixin flex-column($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin small-screen {
    @media (max-width: 800px) {
        @content;
    }
}


main {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 0 30px;

    section {
        width: 50%;
        font-size: 25px;

        &:last-child {
            padding: 20px 5px;
            @include flex-column(25px);

            .info {
                padding: 15px 0;
                @include flex-column(20px);
                justify-content: space-evenly;


                &:last-child {
                    border-radius: 50px;
                    background-color: rgba(255, 255, 255, 0.03);


                    div:nth-child(1) {
                        font-weight: bold;
                        align-self: center;

                        @include small-screen {
                            font-size: 90%;
                        }
                    }
                }

                flex-grow: 1;
            }

            .weather {
                align-self: center;
                width: 100%;
                @include flex-column(10px);


                .temp {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    gap: 40px;
                }

                .desc {
                    text-align: center;
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: space-evenly;

            button {
                cursor: pointer;
                outline: none;
                border: none;
                color: white;
                font-size: 18px;
                font-weight: bold;
                padding: 20px;
                border-radius: 40px;
                background-color: rgb(5, 5, 53);

                &:last-child {
                    background-color: rgb(31 31 89);
                }

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        @include small-screen {
            width: 100%;
        }
    }

    @include small-screen {
        flex-direction: column;
        text-align: center;
    }
}

.image {
    width: 100%;
    height: 400px;
    background-image: url("https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inputs {
    display: flex;
    justify-content: center;
    padding: 20px;

    button {
        cursor: pointer;
        outline: none;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: bold;
        padding: 20px;
        border-radius: 40px;
        background-color: rgb(5, 5, 53);

        &:hover {
            transform: scale(1.05);
        }
    }

    form {
        display: flex;
        display: none;
        flex-direction: column;
        position: fixed; // so it always appear in the middle of the screen
        left: 50%;
        top: 50%;
        background-color: rgb(12, 12, 87);
        box-shadow: 1px 1px 20px 7px black;
        border-radius: 30px;
        transform: translate(-50%, -50%);
        padding: 30px;

        i {
            transform: translate(-15px, -15px);
            font-size: 20px;
            cursor: pointer;
            width: fit-content;


            &:hover {
                transform: scale(1.1) translate(-15px, -15px);
            }
        }

        .texts {
            @include flex-column(20px);
            margin-top: 20px;
            font-weight: bold;
            text-align: center;

            input {
                font-size: 18px;
                outline: none;
                background-color: transparent;
                border: 1px solid blue;
                border-radius: 20px;
                padding: 10px 20px;
                color: white;

                &::placeholder {
                    color: rgba(255, 255, 255, 0.349);
                }
            }
        }

        button {
            margin-top: 20px;
            font-size: 16px;
            padding: 15px;
        }
    }
}